<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>All Posts</title>
  </head>
  <body>
    <a
      href="{% url 'home' %}"
      style="
        display: inline-block;
        padding: 6px 12px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 4px;
      "
      >← Volver al inicio</a
    >
    <a
      href="{% url 'search_by_user' %}"
      style="
        display: inline-block;
        padding: 6px 12px;
        background-color: rgb(183, 212, 41);
        color: white;
        text-decoration: none;
        border-radius: 4px;
      "
      >Buscar por Usuario</a
    >
    <a
      href="{% url 'delete_posts' %}"
      style="
        display: inline-block;
        padding: 6px 12px;
        background-color: rgb(212, 109, 41);
        color: white;
        text-decoration: none;
        border-radius: 4px;
      "
      >Eliminar Post</a
    >

    <h1>Todos los Posts</h1>
    <hr />
    {% for post in posts %}
    <p style="font-size: 12px; color: gray; text-align: left; margin: 0">
      id: {{ post.id }}
    </p>
    {% if post.modificado %}
    <p>
      <strong>{{ post.user }}</strong> escribió @{{ post.fecha }}
      <span style="font-style: italic; color: gray; font-size: 0.9em"
        >(editado)</span
      >:
    </p>
    {% else %}
    <p><strong>{{ post.user }}</strong> escribió @{{ post.fecha }}:</p>
    {% endif %}
    <p>{{ post.contenido }}</p>
    <hr />
    {% empty %}
    <p>No existe el usuario.</p>
    {% endfor %}
  </body>
</html>
