{% extends "base.html" %}

{% block page_title %}Eliminar Post{% endblock page_title %}

{% block body_content %}

  {% include "blog/includes/header.html" %}

  <h1>Eliminar Post</h1>

  <form method="POST">
    {% csrf_token %}
    <label for="post_id">Post ID:</label><br />
    <input type="text" id="post_id" name="post_id" required />
    <br /><br />
    <button type="submit">Eliminar</button>
  </form>

  <hr />
  <h2>Posts recientes:</h2>
  
  {% include "blog/includes/show_posts.html" %}

  {% if deleted %}
    <script>
      alert("¡Post de {{ deleted_user }} eliminado correctamente!");
      window.location.href = "{% url 'home' %}";
    </script>
  {% endif %}

{% endblock body_content %}
