{% extends "base.html" %} 

{% block page_title %}Bienvenido{% endblock page_title %}

{% block body_content %}
  
  {% include "blog/includes/header.html" %}

  <h1>Bienvenido a Mi Blog</h1>

  <form method="POST">
    {% csrf_token %}
    <label for="user">Usuario:</label><br />
    <input type="text" id="user" name="user" required /><br /><br />

    <label for="contenido">Escribe tu post:</label><br />
    <textarea
      id="contenido"
      name="contenido"
      rows="4"
      cols="50"
      required
    ></textarea
    ><br /><br />

    <button type="submit">Publicar</button>
  </form>

  <hr />

  <h2>Posts recientes:</h2>
  
    {% include "blog/includes/show_posts.html" %}

{% endblock %}
