<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Posts</title>
  </head>
  <body>
    <a
      href="{% url 'home' %}"
      style="
        display: inline-block;
        padding: 6px 12px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 4px;
      "
      >← Volver al inicio</a
    >
    <a
      href="{% url 'all_posts' %}"
      style="
        display: inline-block;
        padding: 6px 12px;
        background-color: rgb(118, 41, 212);
        color: white;
        text-decoration: none;
        border-radius: 4px;
      "
      >Ver todos los Posts</a
    >
    <a
      href="{% url 'search_by_user' %}"
      style="
        display: inline-block;
        padding: 6px 12px;
        background-color: rgb(183, 212, 41);
        color: white;
        text-decoration: none;
        border-radius: 4px;
      "
      >Buscar por Usuario</a
    >
    <br /><br />

    <h1>Posts de : {{ user|title }}</h1>

    {% for post in posts %}
    <p><strong>{{ post.user }} @ {{ post.fecha }} </strong> escribió:</p>
    <p>{{ post.contenido }}</p>
    <hr />
    {% empty %}
    <p>No existe el usuario.</p>
    {% endfor %}
  </body>
</html>
