{% extends "base.html" %}

{% block page_title %}Buscar por Usuario{% endblock page_title %}

{% block body_content %}

    {% include "blog/includes/header.html" %}

    <br /><br />
    <form method="POST">
      {% csrf_token %}
      <label for="user">Usuario:</label><br />
      <input type="text" id="user" name="user" /><br /><br />
      <button type="submit" name="action" value="search">Buscar Posts</button>
      <button type="submit" name="action" value="show_users">
        Mostrar usuarios
      </button>
    </form>
    <br /><br />
    <hr />
    {% if show_posts %} 
    
      {% include "blog/includes/show_posts.html" %}
      
    {% else %} 
      {% if user_not_found %}
        <p>Usuario '{{ user }}' no encontrado. Intenta de nuevo.</p>
        <hr />
      {% endif %}
    
      <p>Usuarios:</p>
      <ul>
        {% for user in users %}
        <li>{{ user|title }}</li>
        {% endfor %}
      </ul>
      
    {% endif %}

{% endblock body_content %}