{% extends "base.html" %}

{% block page_title %}Editar Post{% endblock page_title %}

{% block body_content %}

  {% include "blog/includes/header.html" %}

  <h1>Editar Post</h1>

  <form method="POST">
    {% csrf_token %}
    <label for="post_id">Post ID:</label><br />
    <input type="text" id="post_id" name="post_id" required /><br /><br />

    <label for="new_comment">Edita tu post:</label><br />
    <textarea
      id="new_comment"
      name="new_comment"
      rows="4"
      cols="50"
      required
    ></textarea
    ><br /><br />

    <button type="submit">Editar</button>
  </form>

  <hr />

  <h2>Posts recientes:</h2>

  {% include "blog/includes/show_posts.html" %}
  
  {% if modified %}
    <script>
      alert("¡Post de {{ user }} modfificado correctamente!");
      window.location.href = "{% url 'home' %}";
    </script>
  {% endif %}

{% endblock body_content %}
